<footer id="footer">
    Copyright &copy; 2017 {{applicationName}} - Material Admin
    
    <ul class="f-menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>